<% provide(:title, "採用情報") %>
<div class="container-fluid py-3" style="background: #f6f6f6">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-10">
      <h2 class="page-title">採用情報</h2>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">CTO </h6>
            </div>
            <div class="col-md-4 col-11">
              役員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">バックエンドエンジニア (Rails) </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">バックエンドエンジニア (Rails) </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">バックエンドエンジニア (Rails) </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">フロントエンドエンジニア </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">フロントエンドエンジニア </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">モバイルエンジニア (React Native) </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">モバイルエンジニア (React Native) </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">BIM/CAD専門家 </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7 col-12">
              <h6 class="mb-0 fw-bold">BIM/CAD専門家 </h6>
            </div>
            <div class="col-md-4 col-11">
              正社員　東京/リモート
            </div>
            <div class="col-md-1 col-1 text-right">
              <i class="fas fa-external-link-alt" style="color: #333;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
