<div class="container py-5">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-10">
      <h2>企業情報</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-6">
      <table class="table mb-0">
        <tbody>
          <tr data-aos="fade-up" data-aos-duration="2000">
            <th scope="row">会社名</th>
            <td>株式会社H2Corporation</td>
          </tr>
          <tr data-aos="fade-up" data-aos-duration="2000">
            <th scope="row">設立</th>
            <td>2020年11月</td>
          </tr>
          <tr data-aos="fade-up" data-aos-duration="2000">
            <th scope="row">所在地</th>
            <td>〒160-0023 東京都西新宿6-15-1-4212</td>
          </tr>
            <th scope="row">資本金</th>
            <td>1億円</td>
          </tr>
          <tr data-aos="fade-up" data-aos-duration="2000">
            <th scope="row">代表者名</th>
            <td>代表取締役社長　川嶋啓嗣</td>
          </tr>
          <tr style="border-bottom: 1px solid #dee2e6;" data-aos="fade-up" data-aos-duration="2000">
            <th scope="row">事業内容</th>
            <td>建設ソフトウェア及びAIの設計、開発</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>