<main class="px-3">
  <div class="row">
    <div class="offset-2 col-8">
      <h1 class="text-white pb-4">「現場ファースト」 でDX化</h1>
      <p class="lead text-white pb-4">私たちは、デジタル・テクノロジーの力で、日本の社会と経済を支える建築・建設業の課題を解決していきます。
  「現場ファースト」を実践し、本社と現場の人々の働き方をサポートしつつ変革をもたらすプラットフォームを提供します。</p>
      <p class="lead">
        <a href="mailto: hkawashima@h2corporation.jp" class="btn fw-bold btn-h2">お問い合わせ</a>
      </p>
    </div>
  </div>
</main>
