<% provide(:title, "個人情報保護方針") %>
<div class="container-fluid py-3" style="background: #f6f6f6">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-10">
      <h2 class="page-title">個人情報保護方針</h2>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8">
      <p>制定日：2021年6月8日<br/>
      最終改正日：2021年6月8日<br/>
      株式会社H2Corporation<br/>
      代表取締役社長　川嶋　啓嗣</p>
 
      <p>株式会社H2Corporationおよびその連結子会社から成る企業集団（「H2Corporation」、以下「当社」といいます）は、個人情報を大切に保護することを当社の重要な社会的責務と認識しております。</p>
 
      <p>そのため、役員をはじめとする全従業者が、当社がすべての事業で取り扱う個人情報及び従業者等の個人情報に関して、個人情報保護に関する法規範及びJIS Q 15001に準拠した個人情報保護マネジメントシステムを構築して適切に運用し、常に社会的要請の変化に着目しつつ個人情報保護マネジメントシステムの継続的改善に全社を挙げて取り組むことを宣言いたします。</p>
 
      <p>1.	個人情報保護の重要性を強く認識し、当社の事業活動を遂行するために必要な範囲内で利用目的を明確に定め、適切に個人情報の取得、利用及び提供を行います。取得した個人情報は利用目的の範囲内でのみ利用し、目的外利用を行わないための措置を講じます。</p>
 
      <p>2.	前項の措置により取得した当社の事業活動で取り扱う個人情報及び従業者等から取得した個人情報の取り扱いの全部又は一部を委託する場合、又は個人情報を第三者に提供する場合には、十分な個人情報の保護水準を満たした事業者を選定し、契約等により適切な措置を講じます。</p>
 
      <p>3.	安心して個人情報をご提供いただけるように、個人情報の漏えい、滅失又は毀損等の危険に対して、合理的な安全対策及び予防・是正措置を講じます。</p>
 
      <p>4.	大切な個人情報をお預かりする企業として、個人情報保護の取り扱いに関する法令、個人情報保護法に基づいて各所管官庁が作成したガイドライン・指針、JISQ15001をはじめとするその他の規範を遵守します。</p>
 
      <p>5.	個人情報を適切に利用し、またその保護を徹底するために個人情報保護マネジメントシステムの継続的な見直し及び改善を行います。</p>
 
      <p>6.	当社の個人情報の取り扱いに関する苦情及び相談等があった場合には、当社各社の「個人情報の取り扱いについて」に記載の個人情報に関する苦情及び相談窓口にて、迅速かつ適切な対応をいたします。</p>
 
      <p>【個人情報保護方針の内容に関するお問合せ先】
        株式会社H2Corporation<br/>
        電話：080-7550-8536<br/>
        住所：〒160-0023 東京都新宿区西新宿6-15-1-4212</p>

    </div>
  </div>
</div>
