<% provide(:title, "情報セキュリティ基本方針") %>
<div class="container-fluid py-5" style="background: #f6f6f6">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-10">
      <h2 class="page-title">情報セキュリティ基本方針</h2>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8">
      <p>制定日：2021年6月8日<br/>
      最終改正日：2021年6月8日<br/>
      株式会社H2Corporation<br/>
      代表取締役社長　川嶋　啓嗣</p>
 
      <p>株式会社H2Corporationおよびその連結子会社から成る企業集団（「H 2Corporation」、以下「当社」といいます）は、「ミッション」の実現および各種事業の運営において、当社が取得・保有する、またはお客様をはじめとする全てのステークホルダーから受託・提供を受けるあらゆる情報資産を、さまざまな脅威から守ることが重要な経営課題であることを認識しています。</p>
 
      <p>そのため、当社は、当社が保有または受託する情報資産を適正に管理するべく、本基本方針および別途に定めるグループ個人情報保護方針を遵守します。</p>
 
      <p>1.	組織体制<br />
        情報セキュリティの管理体制を確立し、これを確実にするための規程および規則を定め、情報セキュリティ・マネジメント・システムを効果的に運用します。</p>
 
      <p>2.	法令遵守<br />
        情報セキュリティに関連する法令や規則などに準拠した情報資産の管理および運用に関する内部規程類、契約上のセキュリティ要求事項を遵守します。</p>
 
      <p>3.	情報資産の保護<br />
        保有する全ての情報資産をさまざまな脅威から保護するために、セキュリティアセスメントを実施し、機密性、完全性、可用性を保持する対応策を実施していきます。</p>
 
      <p>4.	情報セキュリティインシデントへの対応<br />
        情報セキュリティ事故防止に努めるとともに、万一、事故が発生した場合には、速やかに、かつ、的確に対応をし、再発防止策を含めて適切に対処します。</p>
 
      <p>5.	教育・研修の実施<br />
        全ての従業員に対し、必要な情報セキュリティに関する教育・研修を実施し、各人に情報セキュリティ確保の重要性を認識させることにより、情報リテラシーの向上および関連する諸規程の周知徹底を図ります。</p>
 
      <p>6.	継続的改善の実施<br />
        以上の取り組みを定期的に評価、見直すことにより、情報セキュリティ管理の継続的改善を実施します。</p>

    </div>
  </div>
</div>
